$header-height: 150px;

#map__header {
  height: $header-height;
  background-color: #BBBBBB;
  line-height: 140px;

  > h1 {
    font-family: Robot, sans-serif;
    margin: 0;
  }
}

#map__map {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;

  > div {
    height: 100%;
  }
}

.p-text {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.p-bold {
  font-weight: bold;
}

.property__image {
  background-size: contain !important;
  height: 175px;
}
